Repository CS2103JAN2018-F14-B3/main, pull requests merged in 2018-03, with the labels that each got.

#23 Update README.adoc
  README.adoc
  docs/images/Ui.png
Labels: type.task

#30 Fixes #17
  README.adoc
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/leowweiching.jpg
  docs/images/marcus-cxc.jpg
  docs/images/pkaijun.jpg
  docs/images/quentinkhoo.jpg
Labels: priority.high

#32 Update badges and user stories
  README.adoc
  docs/DeveloperGuide.adoc
  docs/team/quentinkhoo.adoc
Labels: type.story, type.task

#37 Fixes #36 Fixes #27
  docs/UserGuide.adoc
  docs/team/pohkaijun.adoc
  src/main/java/seedu/investigapptor/commons/core/Messages.java
  src/main/java/seedu/investigapptor/logic/commands/DeleteCommand.java
  src/main/java/seedu/investigapptor/logic/commands/EditCommand.java
  src/main/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/commands/SelectInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/logic/parser/RegisterInvestigatorCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/SelectCommandParser.java
  src/test/java/seedu/investigapptor/logic/LogicManagerTest.java
  src/test/java/seedu/investigapptor/logic/commands/DeleteCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/EditCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommandIntegrationTest.java
  src/test/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/SelectInvestigatorCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/RegisterInvestigatorCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/SelectInvestigatorCommandParserTest.java
  src/test/java/seedu/investigapptor/testutil/PersonUtil.java
  src/test/java/systemtests/DeleteCommandSystemTest.java
  src/test/java/systemtests/EditCommandSystemTest.java
  src/test/java/systemtests/HelpCommandSystemTest.java
  src/test/java/systemtests/InvestigapptorSystemTest.java
  src/test/java/systemtests/RegisterInvestigatorCommandSystemTest.java
  src/test/java/systemtests/SelectInvestigatorCommandSystemTest.java
Labels: priority.high

#45 Update DeveloperGuide's Glossary
  docs/DeveloperGuide.adoc
Labels: priority.high, type.Docs

#44 Fixes #40
  docs/UserGuide.adoc
  docs/team/pohkaijun.adoc
  src/main/java/seedu/investigapptor/logic/commands/EditInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/parser/EditInvestigatorCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/test/java/seedu/investigapptor/logic/commands/CommandTestUtil.java
  src/test/java/seedu/investigapptor/logic/commands/EditInvestigatorCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/EditPersonDescriptorTest.java
  src/test/java/seedu/investigapptor/logic/parser/EditInvestigatorCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/testutil/EditPersonDescriptorBuilder.java
  src/test/java/systemtests/EditInvestigatorCommandSystemTest.java
Labels: priority.high

#46 Minor fix to AboutUs.adoc
  docs/AboutUs.adoc
Labels: type.Docs

#50 Update DeveloperGuide.adoc - Target User Profile and Value Proposition
  docs/DeveloperGuide.adoc
Labels: type.Docs

#47 Minor fix: Change SelectCommandParser to SelectInvestigatorCommandParser
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/logic/parser/SelectInvestigatorCommandParser.java
  src/test/java/seedu/investigapptor/logic/parser/SelectInvestigatorCommandParserTest.java
Labels: priority.high

#51 Update main layout with investigator and case tabs
  src/main/java/seedu/investigapptor/ui/InvestigatorListPanel.java
  src/main/resources/view/PersonListPanel.fxml
Labels: type.GUI, type.enhancement

#53 Update UserGuide.adoc to align with vision for version 1.5
  docs/UserGuide.adoc
Labels: priority.high, type.Docs

#57 Update developer guide [Feature Contribution]
  docs/DeveloperGuide.adoc
Labels: priority.high, type.Docs

#58 AddCaseCommand: Save to file (xml) fix
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  src/main/java/seedu/investigapptor/logic/commands/AddCaseCommand.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/crimecase/Status.java
  src/main/java/seedu/investigapptor/model/crimecase/UniqueCrimeCaseList.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedCrimeCase.java
  src/main/java/seedu/investigapptor/storage/XmlSerializableInvestigapptor.java
Labels: priority.high, type.Docs, type.logic, type.storage

#56 UI Layout
  src/main/java/seedu/investigapptor/commons/core/Config.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/investigapptor/commons/core/ConfigTest.java
Labels: priority.medium, type.GUI

#66 Fixes #65: Update developer guide with feature contribution
  docs/DeveloperGuide.adoc
Labels: priority.high, type.Docs

#63 Enhancement backup command Fixes #64
  docs/DeveloperGuide.adoc
  docs/team/MarcusChen.adoc
  src/main/java/seedu/investigapptor/commons/events/model/InvestigapptorBackupEvent.java
  src/main/java/seedu/investigapptor/logic/commands/BackupCommand.java
  src/main/java/seedu/investigapptor/logic/parser/BackupCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/model/Model.java
  src/main/java/seedu/investigapptor/model/ModelManager.java
  src/main/java/seedu/investigapptor/storage/InvestigapptorStorage.java
  src/main/java/seedu/investigapptor/storage/Storage.java
  src/main/java/seedu/investigapptor/storage/StorageManager.java
  src/main/java/seedu/investigapptor/storage/XmlInvestigapptorStorage.java
  src/test/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommandTest.java
  src/test/java/seedu/investigapptor/storage/StorageManagerTest.java
Labels: priority.medium, type.enhancement, type.logic, type.model, type.storage

#69 AddCaseCommand: Add tests
  src/main/java/seedu/investigapptor/logic/commands/AddCaseCommand.java
  src/main/java/seedu/investigapptor/logic/parser/AddCaseCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/CliSyntax.java
  src/main/java/seedu/investigapptor/model/crimecase/Description.java
  src/main/java/seedu/investigapptor/model/crimecase/NameContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedCrimeCase.java
  src/test/data/XmlSerializableInvestigapptorTest/invalidCrimeCaseInvestigapptor.xml
  src/test/data/XmlSerializableInvestigapptorTest/typicalCrimeCasesInvestigapptor.xml
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandIntegrationTest.java
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/CommandTestUtil.java
  src/test/java/seedu/investigapptor/logic/commands/ListCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/AddCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedCrimeCaseTest.java
  src/test/java/seedu/investigapptor/storage/XmlSerializableInvestigapptorTest.java
  src/test/java/seedu/investigapptor/testutil/CrimeCaseBuilder.java
  src/test/java/seedu/investigapptor/testutil/CrimeCaseUtil.java
  src/test/java/seedu/investigapptor/testutil/InvestigapptorBuilder.java
  src/test/java/seedu/investigapptor/testutil/PersonUtil.java
  src/test/java/seedu/investigapptor/testutil/TypicalCrimeCases.java
  src/test/java/systemtests/EditInvestigatorCommandSystemTest.java
  src/test/java/systemtests/RegisterInvestigatorCommandSystemTest.java
Labels: priority.high, type.testing

#74 User Stories: Update user stories
  docs/DeveloperGuide.adoc
Labels: type.story

#59 Find tags command: Fixes #55
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/pohkaijun.adoc
  src/main/java/seedu/investigapptor/logic/commands/FindInvestTagsCommand.java
  src/main/java/seedu/investigapptor/logic/parser/FindInvestTagsCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/model/person/Person.java
  src/main/java/seedu/investigapptor/model/person/investigator/TagContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/model/tag/Tag.java
  src/test/data/XmlSerializableInvestigapptorTest/typicalPersonsInvestigapptor.xml
  src/test/java/seedu/investigapptor/logic/commands/FindInvestTagsCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/FindInvestTagsCommandParserTest.java
  src/test/java/seedu/investigapptor/testutil/TypicalPersons.java
  src/test/java/systemtests/FindInvestTagsCommandSystemTest.java
Labels: priority.high, type.Docs, type.enhancement, type.logic

#81 Refactor Investigator Fixes #80
  src/main/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/parser/CliSyntax.java
  src/main/java/seedu/investigapptor/logic/parser/ParserUtil.java
  src/main/java/seedu/investigapptor/logic/parser/RegisterInvestigatorCommandParser.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/ReadOnlyInvestigapptor.java
  src/main/java/seedu/investigapptor/model/crimecase/UniqueCrimeCaseList.java
  src/main/java/seedu/investigapptor/model/person/Person.java
  src/main/java/seedu/investigapptor/model/person/UniquePersonList.java
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
  src/main/java/seedu/investigapptor/model/person/investigator/Rank.java
  src/main/java/seedu/investigapptor/model/person/investigator/exceptions/DemoteExceedException.java
  src/main/java/seedu/investigapptor/model/person/investigator/exceptions/PromoteExceedException.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedInvestigator.java
  src/main/java/seedu/investigapptor/storage/XmlInvestigapptorStorage.java
  src/main/java/seedu/investigapptor/storage/XmlSerializableInvestigapptor.java
  src/main/java/seedu/investigapptor/ui/InvestigatorCard.java
  src/main/java/seedu/investigapptor/ui/PersonCard.java
  src/main/resources/view/PersonListCard.fxml
  src/test/java/seedu/investigapptor/logic/commands/CommandTestUtil.java
  src/test/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommandIntegrationTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/RegisterInvestigatorCommandParserTest.java
  src/test/java/seedu/investigapptor/model/InvestigapptorTest.java
  src/test/java/seedu/investigapptor/testutil/InvestigatorBuilder.java
  src/test/java/seedu/investigapptor/testutil/InvestigatorUtil.java
  src/test/java/seedu/investigapptor/testutil/TypicalInvestigator.java
  src/test/java/systemtests/EditInvestigatorCommandSystemTest.java
  src/test/java/systemtests/RegisterInvestigatorCommandSystemTest.java
Labels: priority.high, status.ongoing, type.enhancement, type.epic, type.logic, type.model, type.storage

#78 Update UG with listing and DG with implementations
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/Ui.png
Labels: priority.high, type.Docs

#82 Update DG implementation component
  docs/DeveloperGuide.adoc
Labels: priority.high, type.Docs

#83 Update documentation documents
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/pohkaijun.adoc
Labels: priority.high, type.Docs

#84 Fixes minor error in UserGuide
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: priority.high, type.Docs

#85 Update DeveloperGuide and UserGuide
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: priority.high, type.Docs

#98 List command
  src/main/java/seedu/investigapptor/commons/core/Messages.java
  src/main/java/seedu/investigapptor/logic/commands/ListCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/ListCommand.java
  src/main/java/seedu/investigapptor/logic/commands/ListInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/parser/ListCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/ParserUtil.java
  src/test/java/seedu/investigapptor/logic/commands/ListCommandTest.java
Labels: priority.medium, type.enhancement, type.logic, type.testing

#100 Fixes #77: Find case tags command
  src/main/java/seedu/investigapptor/logic/commands/Command.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseTagsCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindInvestTagsCommand.java
  src/main/java/seedu/investigapptor/logic/parser/FindCaseTagsCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/TagContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/model/person/Person.java
  src/test/data/XmlSerializableInvestigapptorTest/typicalCrimeCasesInvestigapptor.xml
  src/test/java/seedu/investigapptor/logic/commands/CommandTestUtil.java
  src/test/java/seedu/investigapptor/logic/commands/FindCaseTagsCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/FindCaseTagsCommandParserTest.java
  src/test/java/seedu/investigapptor/testutil/TypicalCrimeCases.java
  src/test/java/systemtests/FindCaseTagsCommandSystemTest.java
  src/test/java/systemtests/ModelHelper.java
Labels: priority.high, type.logic, type.testing

#102 Password feature
  README.adoc
  docs/UserGuide.adoc
  src/main/java/seedu/investigapptor/MainApp.java
  src/main/java/seedu/investigapptor/commons/events/ui/InvalidFileFormatEvent.java
  src/main/java/seedu/investigapptor/commons/events/ui/ValidPasswordEvent.java
  src/main/java/seedu/investigapptor/commons/exceptions/WrongPasswordException.java
  src/main/java/seedu/investigapptor/logic/commands/PasswordCommand.java
  src/main/java/seedu/investigapptor/logic/commands/SetCommand.java
  src/main/java/seedu/investigapptor/logic/commands/exceptions/InvalidPasswordException.java
  src/main/java/seedu/investigapptor/logic/parser/CliSyntax.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/logic/parser/ListCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/ParserUtil.java
  src/main/java/seedu/investigapptor/logic/parser/PasswordCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/SetCommandParser.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/Model.java
  src/main/java/seedu/investigapptor/model/ModelManager.java
  src/main/java/seedu/investigapptor/model/Password.java
  src/main/java/seedu/investigapptor/model/ReadOnlyInvestigapptor.java
  src/main/java/seedu/investigapptor/storage/InvestigapptorStorage.java
  src/main/java/seedu/investigapptor/storage/Storage.java
  src/main/java/seedu/investigapptor/storage/StorageManager.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedPassword.java
  src/main/java/seedu/investigapptor/storage/XmlInvestigapptorStorage.java
  src/main/java/seedu/investigapptor/storage/XmlSerializableInvestigapptor.java
  src/main/java/seedu/investigapptor/ui/PasswordBox.java
  src/main/java/seedu/investigapptor/ui/PasswordManager.java
  src/main/java/seedu/investigapptor/ui/PasswordWindow.java
  src/main/java/seedu/investigapptor/ui/UiManager.java
  src/main/resources/view/PasswordBox.fxml
  src/main/resources/view/PasswordWindow.fxml
  src/test/data/XmlSerializableInvestigapptorTest/typicalPasswordInvestigapptor.xml
  src/test/java/guitests/guihandles/PasswordBoxHandle.java
  src/test/java/seedu/investigapptor/TestApp.java
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/ListCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/PasswordCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/SetCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/PasswordCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/SetCommandParserTest.java
  src/test/java/seedu/investigapptor/model/InvestigapptorTest.java
  src/test/java/seedu/investigapptor/model/PasswordTest.java
  src/test/java/seedu/investigapptor/testutil/InvestigapptorBuilder.java
  src/test/java/seedu/investigapptor/ui/PasswordBoxTest.java
Labels: type.enhancement, type.epic

#112 Link investigator&crime case list Fixes #108
  src/main/java/seedu/investigapptor/logic/commands/AddCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/DeleteInvestigatorCommand.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/UniqueCrimeCaseList.java
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedCrimeCase.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedInvestigator.java
  src/main/java/seedu/investigapptor/storage/XmlSerializableInvestigapptor.java
  src/test/data/XmlSerializableInvestigapptorTest/typicalCrimeCasesInvestigapptor.xml
  src/test/data/XmlUtilTest/validInvestigapptor.xml
  src/test/java/seedu/investigapptor/commons/util/XmlUtilTest.java
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandIntegrationTest.java
  src/test/java/seedu/investigapptor/logic/commands/FindCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedCrimeCaseTest.java
  src/test/java/seedu/investigapptor/testutil/CrimeCaseBuilder.java
  src/test/java/seedu/investigapptor/testutil/TypicalCrimeCases.java
Labels: priority.high, type.epic, type.logic, type.model, type.storage

#114 Update Gradle Version
  build.gradle
  docs/DeveloperGuide.adoc
  src/main/java/seedu/investigapptor/MainApp.java
  src/main/java/seedu/investigapptor/ui/CommandBox.java
  src/main/java/seedu/investigapptor/ui/PasswordBox.java
  src/test/java/seedu/investigapptor/ui/CommandBoxTest.java
Labels: type.task

#104 Fixes #103: Close Case Command
  docs/UserGuide.adoc
  docs/team/pohkaijun.adoc
  src/main/java/seedu/investigapptor/commons/core/Messages.java
  src/main/java/seedu/investigapptor/logic/commands/AddCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/CloseCaseCommand.java
  src/main/java/seedu/investigapptor/logic/parser/AddCaseCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/CloseCaseCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/logic/parser/ParserUtil.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/Model.java
  src/main/java/seedu/investigapptor/model/ModelManager.java
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/Date.java
  src/main/java/seedu/investigapptor/model/crimecase/Status.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedCrimeCase.java
  src/test/data/XmlSerializableInvestigapptorTest/typicalCrimeCasesInvestigapptor.xml
  src/test/data/XmlUtilTest/validInvestigapptor.xml
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/RegisterInvestigatorCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/AddCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/model/crimecase/DateTest.java
  src/test/java/seedu/investigapptor/model/crimecase/StartDateTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedCrimeCaseTest.java
  src/test/java/seedu/investigapptor/testutil/CrimeCaseBuilder.java
  src/test/java/seedu/investigapptor/testutil/TypicalCrimeCases.java
Labels: priority.high, type.enhancement, type.logic, type.model

#118 Fix user guide formatting
  docs/UserGuide.adoc
Labels: severity.Low, type.Docs

#119 Update UserGuide and DeveloperGuide
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: priority.high, type.Docs

#113 Add test case
  src/main/java/seedu/investigapptor/logic/commands/BackupCommand.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/crimecase/UniqueCrimeCaseList.java
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedInvestigator.java
  src/test/java/seedu/investigapptor/logic/commands/BackupCommandTest.java
  src/test/java/seedu/investigapptor/model/person/RankTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedInvestigatorTest.java
  src/test/java/seedu/investigapptor/testutil/InvestigatorBuilder.java
  src/test/java/seedu/investigapptor/testutil/TypicalInvestigator.java
Labels: priority.low, type.testing
