Repository CS2103JAN2018-F14-B3/main, pull requests merged in 2018-04, with the labels that each got.

#125 Fixes #124: Add case command (Undo/Redo Bug Fix)
  src/main/java/seedu/investigapptor/logic/commands/AddCaseCommand.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/crimecase/UniqueCrimeCaseList.java
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
Labels: priority.high, severity.Medium, type.bug, type.logic, type.storage, type.story

#132 Update devguide's diagram
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/diagrams/LogicComponentClassDiagram.pptx
  docs/diagrams/LogicComponentCommandClassDiagram.pptx
  docs/diagrams/LogicComponentSequenceDiagram.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/diagrams/UndoRedoExecuteUndoStackDiagram.pptx
  docs/diagrams/UndoRedoNewCommand1StackDiagram.pptx
  docs/diagrams/UndoRedoNewCommand2StackDiagram.pptx
  docs/diagrams/UndoRedoNewCommand3StackDiagram.pptx
  docs/diagrams/UndoRedoSequenceDiagram.pptx
  docs/diagrams/UndoRedoStartingStackDiagram.pptx
Labels: priority.high, type.Docs

#127 Fixes #126
  src/main/java/seedu/investigapptor/logic/commands/DeleteInvestigatorCommand.java
Labels: priority.medium, type.bug, type.logic

#137 Fixes #138: Include more variations of colours for the tags
  src/main/java/seedu/investigapptor/ui/CrimeCaseCard.java
  src/main/java/seedu/investigapptor/ui/InvestigatorCard.java
  src/main/java/seedu/investigapptor/ui/PersonCard.java
  src/main/resources/view/DarkTheme.css
Labels: priority.medium, type.GUI

#141 Edit case command
  src/main/java/seedu/investigapptor/logic/commands/EditCaseCommand.java
  src/main/java/seedu/investigapptor/logic/parser/EditCaseCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/logic/parser/ParserUtil.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
  src/test/data/XmlSerializableInvestigapptorTest/typicalCrimeCasesInvestigapptor.xml
  src/test/java/seedu/investigapptor/logic/commands/CommandTestUtil.java
  src/test/java/seedu/investigapptor/logic/commands/EditCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/EditCrimeCaseDescriptorTest.java
  src/test/java/seedu/investigapptor/logic/parser/AddCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/EditCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/testutil/EditCrimeCaseDescriptorBuilder.java
  src/test/java/seedu/investigapptor/testutil/TypicalCrimeCases.java
  src/test/java/systemtests/RegisterInvestigatorCommandSystemTest.java
Labels: priority.high, type.epic, type.logic, type.storage, type.story, type.testing

#143 Remove case under investigator when case deletion is performed
  src/main/java/seedu/investigapptor/model/Investigapptor.java
Labels: severity.Medium, type.bug, type.logic

#147 Author pkaijun collation
  collated/functional/pkaijun.md
  collated/test/pkaijun.md
  src/main/java/seedu/investigapptor/logic/commands/CloseCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseTagsCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindInvestTagsCommand.java
  src/main/java/seedu/investigapptor/logic/parser/FindCaseTagsCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/FindInvestTagsCommandParser.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/TagContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/model/person/investigator/TagContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/ui/PersonCard.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/investigapptor/logic/commands/FindCaseTagsCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/FindInvestTagsCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/FindCaseTagsCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/FindInvestTagsCommandParserTest.java
Labels: priority.high, type.task

#146 Update user guide
  docs/UserGuide.adoc
  docs/images/findinvestcommand_feature.png
  docs/images/findinvesttagscommand_feature.png
Labels: priority.high, type.Docs

#149 Add author tags for collate
  collated/functional/leowweiching-reused.md
  collated/functional/leowweiching.md
  collated/test/leowweiching-reused.md
  collated/test/leowweiching.md
  src/main/java/seedu/investigapptor/logic/commands/AddCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/DeleteCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/EditCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseCommand.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/Model.java
  src/main/java/seedu/investigapptor/model/ModelManager.java
  src/main/java/seedu/investigapptor/model/crimecase/CaseName.java
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/Date.java
  src/main/java/seedu/investigapptor/model/crimecase/Description.java
  src/main/java/seedu/investigapptor/model/crimecase/NameContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/model/crimecase/Status.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedCrimeCase.java
  src/main/java/seedu/investigapptor/storage/XmlSerializableInvestigapptor.java
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandIntegrationTest.java
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/DeleteCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/EditCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/EditCrimeCaseDescriptorTest.java
  src/test/java/seedu/investigapptor/logic/commands/FindCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/AddCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/DeleteCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/EditCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedCrimeCaseTest.java
  src/test/java/seedu/investigapptor/storage/XmlSerializableInvestigapptorTest.java
Labels: priority.high, type.task

#155 Update default values for new xml fix #154
  docs/UserGuide.adoc
  src/main/java/seedu/investigapptor/logic/commands/EditInvestigatorCommand.java
  src/main/java/seedu/investigapptor/model/util/SampleDataUtil.java
Labels: priority.medium, type.task

#184 Select case command
  src/main/java/seedu/investigapptor/commons/events/ui/JumpToCrimeCaseListRequestEvent.java
  src/main/java/seedu/investigapptor/commons/events/ui/JumpToPersonListRequestEvent.java
  src/main/java/seedu/investigapptor/logic/commands/SelectCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/SelectInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/logic/parser/SelectCaseCommandParser.java
  src/main/java/seedu/investigapptor/ui/BrowserPanel.java
  src/main/java/seedu/investigapptor/ui/CrimeCaseListPanel.java
  src/main/java/seedu/investigapptor/ui/InvestigatorListPanel.java
  src/main/java/seedu/investigapptor/ui/PersonListPanel.java
  src/main/resources/view/BrowserPanel.css
  src/main/resources/view/CaseDetailsPage.html
  src/test/java/seedu/investigapptor/logic/commands/CommandTestUtil.java
  src/test/java/seedu/investigapptor/logic/commands/ListCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/SelectCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/SelectInvestigatorCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/SelectCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/ui/PersonListPanelTest.java
Labels: priority.high, type.GUI, type.epic, type.logic, type.storage, type.story, type.testing

#165 Match investigator as person object instead of just matching their names
  src/main/java/seedu/investigapptor/model/Investigapptor.java
Labels: priority.medium, severity.Medium, type.bug, type.logic

#199 Enhancements to CrimeCase date attribute
  collated/functional/leowweiching-reused.md
  collated/functional/pkaijun.md
  src/main/java/seedu/investigapptor/logic/commands/AddCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/CloseCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/EditCaseCommand.java
  src/main/java/seedu/investigapptor/logic/parser/AddCaseCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/ParserUtil.java
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/EndDate.java
  src/main/java/seedu/investigapptor/model/crimecase/StartDate.java
  src/main/java/seedu/investigapptor/storage/XmlAdaptedCrimeCase.java
  src/main/java/seedu/investigapptor/ui/CalendarPanel.java
  src/test/java/seedu/investigapptor/logic/parser/AddCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/EditCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/model/crimecase/DateTest.java
  src/test/java/seedu/investigapptor/model/crimecase/StartDateTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedCrimeCaseTest.java
  src/test/java/seedu/investigapptor/testutil/CrimeCaseBuilder.java
  src/test/java/seedu/investigapptor/testutil/EditCrimeCaseDescriptorBuilder.java
Labels: priority.high, severity.Medium, type.bug, type.code-quality, type.enhancement, type.logic, type.model, type.task

#185 Add LightTheme for GUI
  src/main/resources/view/LightTheme.css
  src/main/resources/view/MainWindow.fxml
Labels: priority.medium, type.GUI, type.enhancement, type.task

#200 Update portfolio and developer guide
  docs/DeveloperGuide.adoc
  docs/team/pohkaijun.adoc
Labels: type.Docs

#201 Fixes #191: Disallow users to interact with the calendar UI (unable to add new entries)
  src/main/java/seedu/investigapptor/ui/CalendarPanel.java
Labels: type.bug

#202 Update UserGuide
  docs/UserGuide.adoc
  docs/images/Ui.png
  docs/images/findinvestcommand_feature.png
  docs/images/findinvesttagscommand_feature.png
  docs/images/helpUI.png
  docs/images/userguide-images/ai-command.png
  docs/images/userguide-images/di-command-index.png
  docs/images/userguide-images/di-command.png
  docs/images/userguide-images/fc-command.png
  docs/images/userguide-images/fct-command.png
  docs/images/userguide-images/fi-command.png
  docs/images/userguide-images/fit-command.png
  docs/images/userguide-images/help-ui.png
  docs/images/userguide-images/inputpassword.png
  docs/images/userguide-images/lc-command.png
  docs/images/userguide-images/li-command.png
  docs/images/userguide-images/rp-command.png
  docs/images/userguide-images/sp-command.png
Labels: priority.high, type.Docs

#203 Update userguide with command summary
  docs/UserGuide.adoc
Labels: type.Docs

#211 Update DeveloperGuide (CrimeCase: package, adding, deleting, finding by name)
  docs/DeveloperGuide.adoc
Labels: type.Docs

#210 Updated Developer Guide
  docs/DeveloperGuide.adoc
Labels: type.Docs

#209 Remodify the command box field to address the cursor blinking issue
  src/main/java/seedu/investigapptor/logic/LogicManager.java
  src/main/java/seedu/investigapptor/logic/commands/ClearCommand.java
  src/main/java/seedu/investigapptor/logic/commands/RemovePasswordCommand.java
  src/main/java/seedu/investigapptor/logic/commands/SetPasswordCommand.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/Model.java
  src/main/java/seedu/investigapptor/model/ModelManager.java
  src/main/java/seedu/investigapptor/model/Password.java
  src/main/java/seedu/investigapptor/ui/CommandBox.java
  src/main/java/seedu/investigapptor/ui/PasswordWindow.java
  src/main/java/seedu/investigapptor/ui/skin/PasswordFieldSkin.java
  src/main/resources/view/CommandBox.fxml
  src/test/data/XmlInvestigapptorStorageTest/invalidPasswordInvestigapptor.xml
  src/test/java/guitests/guihandles/CommandBoxHandle.java
  src/test/java/guitests/guihandles/MainWindowHandle.java
  src/test/java/guitests/guihandles/PasswordBoxHandle.java
  src/test/java/seedu/investigapptor/logic/commands/RemovePasswordCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/SetPasswordCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/model/InvestigapptorTest.java
  src/test/java/seedu/investigapptor/storage/StorageManagerTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedPasswordTest.java
  src/test/java/seedu/investigapptor/storage/XmlInvestigapptorStorageTest.java
  src/test/java/seedu/investigapptor/ui/CommandBoxTest.java
  src/test/java/seedu/investigapptor/ui/PasswordBoxTest.java
  src/test/java/systemtests/InvestigapptorSystemTest.java
  src/unused/RemovePasswordCommandParser.java
Labels: priority.high, severity.High, type.bug, type.testing

#223 Fixes #221: Find cases by its status command
  src/main/java/seedu/investigapptor/commons/events/ui/FilteredCrimeCaseListChangedEvent.java
  src/main/java/seedu/investigapptor/logic/commands/FindByStatusCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseTagsCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCloseCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindOpenCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/ListCaseCommand.java
  src/main/java/seedu/investigapptor/logic/parser/FindCaseTagsCommandParser.java
  src/main/java/seedu/investigapptor/logic/parser/InvestigapptorParser.java
  src/main/java/seedu/investigapptor/model/crimecase/StatusContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/ui/CalendarPanel.java
Labels: priority.high, type.GUI, type.enhancement, type.logic, type.task

#205 Fixes to SelectCaseCommand and BrowserPanel UI
  .travis.yml
  build.gradle
  docs/CaseDetailsPage.html
  docs/stylesheets/BrowserPanel.css
  src/main/java/seedu/investigapptor/ui/BrowserPanel.java
  src/main/resources/view/CaseDetailsPage.html
  src/main/resources/view/Extensions.css
  src/main/resources/view/LightTheme.css
  src/main/resources/view/default.html
Labels: severity.Medium, type.GUI, type.bug

#208 Add a html file to display investigator in the browse panel when selected Fixes #207
  .travis.yml
  build.gradle
  docs/InvestigatorDetailsPage.html
  src/main/java/seedu/investigapptor/model/person/Address.java
  src/main/java/seedu/investigapptor/ui/BrowserPanel.java
  src/main/resources/view/InvestigatorDetailsPage.html
  src/test/java/seedu/investigapptor/model/person/AddressTest.java
Labels: type.GUI, type.enhancement

#225 Update userguide & feature contribution
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/userguide-images/calendar-1.png
  docs/images/userguide-images/close-command-1.png
  docs/images/userguide-images/close-command-2.png
  docs/images/userguide-images/green-entry.png
  docs/images/userguide-images/red-entry.png
  docs/images/userguide-images/undo-command-1.png
  docs/images/userguide-images/undo-command-2.png
  docs/images/userguide-images/undo-command-3.png
  docs/images/userguide-images/undo-command-4.png
  docs/team/pohkaijun.adoc
Labels: type.Docs

#226 Update DeleteCaseCommandTest
  src/test/java/seedu/investigapptor/logic/commands/DeleteCaseCommandTest.java
Labels: type.testing

#227 Update EditCaseCommandTest
  src/test/java/seedu/investigapptor/logic/commands/EditCaseCommandTest.java
  src/test/java/seedu/investigapptor/testutil/CrimeCaseBuilder.java
Labels: type.testing

#229 Edit investigator command Fixes #145
  src/main/java/seedu/investigapptor/logic/commands/EditInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/parser/EditInvestigatorCommandParser.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
  src/main/java/seedu/investigapptor/model/person/investigator/Rank.java
Labels: priority.high, type.bug, type.task

#233 Update Developer Guide according to feedback and add new sections
  docs/DeveloperGuide.adoc
  docs/diagrams/AddInvestigatorSequenceDiagram.pptx
  docs/diagrams/DeleteInvestigatorSequenceDiagram.pptx
  docs/diagrams/EditInvestigatorSequenceDiagram.pptx
  docs/diagrams/ModelComponentClassDiagram.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/images/AddInvestigatorSequenceDiagram.png
  docs/images/DeleteInvestigatorSequenceDiagram.png
  docs/images/EditInvestigatorSequenceDiagram.png
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
  docs/images/investigatorComponent.png
  docs/team/MarcusChen.adoc
  src/main/java/seedu/investigapptor/model/Investigapptor.java
Labels: priority.medium, type.Docs

#234 Documentation
  docs/UserGuide.adoc
  docs/images/userguide-images/rp-command.png
  docs/images/userguide-images/tag-example.PNG
  src/main/java/seedu/investigapptor/MainApp.java
  src/main/java/seedu/investigapptor/commons/core/GuiSettings.java
Labels: type.Docs

#235 Update DeveloperGuide, UserGuide, and Portfolio
  docs/CaseDetailsPage.html
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/LogicComponentSequenceDiagram.pptx
  docs/images/SD_DeleteCaseCommand_Logic.png
  docs/images/SD_DeleteCaseCommand_Model.png
  docs/team/leowweiching.adoc
Labels: priority.high, type.Docs

#236 Update ppp
  docs/team/quentinkhoo.adoc
Labels: type.Docs

#238 Add CaseDetailsPage.html
  docs/CaseDetailsPage.html
Labels: type.GUI

#237 Update portfolio and amend minor code segment for events
  docs/diagrams/FindByStatusClassDiagram.pptx
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/images/CDFindByStatus.png
  docs/images/SDForInvestigapptorChangedEventHandling.png
  docs/images/SDforAddCase.png
  docs/images/SDforCloseCase.png
  docs/images/SDforEditCase.png
  docs/images/SDforFilteredCrimeCaseListChangedEventHandling.png
  docs/images/SDforFindCase.png
  docs/images/SDforUpdateCase.png
  docs/team/pkaijun.adoc
  src/main/java/seedu/investigapptor/logic/commands/FindByStatusCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseTagsCommand.java
  src/main/java/seedu/investigapptor/logic/commands/ListCaseCommand.java
  src/main/java/seedu/investigapptor/model/ModelManager.java
  src/main/java/seedu/investigapptor/ui/CalendarPanel.java
  src/test/java/seedu/investigapptor/logic/commands/SelectCaseCommandTest.java
Labels: type.Docs, type.model

#241 Update Edit Investigator and Backup command for User Guide
  docs/UserGuide.adoc
  docs/images/userguide-images/backup.png
  docs/images/userguide-images/ei-command1.png
  docs/images/userguide-images/ei-command2.png
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
Labels: priority.medium, type.Docs

#242 Update devguide + add diagrams
  docs/DeveloperGuide.adoc
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/diagrams/LogicComponentSequenceDiagram.pptx
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/diagrams/UndoRedoActivityDiagram.pptx
  docs/images/ADForFindCaseTags.png
  docs/images/ADforFindCase.png
  docs/images/CalendarFeature.PNG
  docs/images/SDForCalendar.png
  docs/images/SDForFindByStatusModel.png
  docs/images/SDForFindCloseCase.png
  docs/images/SDforAddCase.png
  docs/images/SDforDeleteCase.png
  docs/images/SDforDeletePerson.png
  docs/images/SDforFindCaseTags.png
  docs/images/SDforFindOpenCase.png
Labels: type.Docs

#243 Update DeveloperGuide with implementation explanation
  docs/DeveloperGuide.adoc
  docs/diagrams/PasswordFeatureSequenceDiagrams.pptx
  docs/images/PasswordHighLevelSequenceDiagram.png
  docs/images/PasswordInputSequenceDiagram.png
  docs/images/PasswordLogicSequenceDiagram.png
  docs/images/PasswordModelSequenceDiagram.png
  src/main/java/seedu/investigapptor/logic/commands/SetPasswordCommand.java
Labels: type.Docs

#245 Update developer guide (cases section)
  docs/DeveloperGuide.adoc
  docs/images/SD_AddCaseCommand_Model.png
  docs/images/SD_CrimeCaseCommands.pptx
  docs/images/SD_DeleteCaseCommand_Logic.png
  docs/images/SD_DeleteCaseCommand_Model.png
  docs/images/SD_EditCaseCommand_Model.png
  docs/images/SD_FindCaseCommand_Logic.png
  docs/images/SD_SelectCaseCommand_EventsCenter.png
  docs/images/SD_SelectCaseCommand_Logic.png
Labels: priority.high, type.Docs

#249 Update Component Diagrams
  collated/test/quentinkhoo.md
  docs/CaseDetailsPage.html
  docs/DeveloperGuide.adoc
  docs/diagrams/ModelComponentClassDiagram.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
  docs/images/UiClassDiagram.png
  docs/team/quentinkhoo.adoc
Labels: type.Docs

#246 Update userguide
  docs/UserGuide.adoc
  docs/images/Ui.png
  docs/images/userguide-images/ac-command.png
  docs/images/userguide-images/adjust-width.png
  docs/images/userguide-images/after-adjust-width.png
  docs/images/userguide-images/after-clear-command.png
  docs/images/userguide-images/all-cases-displayed.png
  docs/images/userguide-images/backup.png
  docs/images/userguide-images/before-clear-command.png
  docs/images/userguide-images/before-dc-command.png
  docs/images/userguide-images/dc-command.png
  docs/images/userguide-images/dc-index.png
  docs/images/userguide-images/fc-command-calendar.png
  docs/images/userguide-images/fcc-command.png
  docs/images/userguide-images/fct-command-calendar.png
  docs/images/userguide-images/foc-command.png
  docs/images/userguide-images/history-command.png
  docs/images/userguide-images/lic-before.png
  docs/images/userguide-images/lic-command.png
  docs/images/userguide-images/si-command.png
  docs/images/userguide-images/tag-example.PNG
  docs/images/userguide-images/undo-command-1-2.png
  docs/images/userguide-images/undo-command-3-4.png
  docs/images/userguide-images/undo-command-5.png
  docs/images/userguide-images/undo-command-7.png
  docs/images/userguide-images/width-issue.png
  src/main/java/seedu/investigapptor/logic/commands/SelectInvestigatorCommand.java
  src/main/java/seedu/investigapptor/ui/CalendarPanel.java
Labels: priority.high, type.Docs

#250 Update Developer Guide
  docs/DeveloperGuide.adoc
  docs/diagrams/DeleteInvestigatorSequenceDiagram.pptx
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/images/AddInvestigatorLogicDiagram.png
  docs/images/AddInvestigatorSequenceDiagram.png
  docs/images/DeleteInvestigatorLogic.png
  docs/images/DeleteInvestigatorSequenceDiagram.png
  docs/images/ListInvestigatorCaseLogicDiagram.png
  docs/images/backupDiagram.png
  src/main/java/seedu/investigapptor/logic/commands/DeleteInvestigatorCommand.java
  src/main/java/seedu/investigapptor/logic/commands/EditInvestigatorCommand.java
  src/main/java/seedu/investigapptor/model/person/investigator/Investigator.java
Labels: priority.high, type.Docs

#251 Test cases for closecasecommand, findopencasescommand & findclosecasescommand
  src/test/java/seedu/investigapptor/logic/commands/CloseCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/FindCaseTagsCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/FindCloseCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/FindOpenCaseCommandTest.java
  src/test/java/seedu/investigapptor/testutil/TypicalCrimeCases.java
  src/test/java/systemtests/FindCaseTagsCommandSystemTest.java
  src/test/java/systemtests/FindInvestTagsCommandSystemTest.java
Labels: type.task, type.testing

#244 Update List Investigator Command section and Future Enhancement in User Guide
  docs/UserGuide.adoc
  docs/images/userguide-images/ec-command1.png
  docs/images/userguide-images/ec-command2.png
  docs/images/userguide-images/lic-command1.png
  docs/images/userguide-images/lic-command2.png
Labels: severity.Low, type.enhancement

#255 Update Design Component of the Developer Guide
  docs/DeveloperGuide.adoc
  docs/diagrams/DeleteInvestigatorSequenceDiagram.pptx
  docs/diagrams/EditInvestigatorSequenceDiagram.pptx
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/images/AddInvestigatorSequenceDiagram.png
  docs/images/DeleteInvestigatorSequenceDiagram.png
  docs/images/EditInvestigatorSequenceDiagram.png
  docs/images/UiClassDiagram.png
  docs/team/MarcusChen.adoc
Labels: priority.medium, type.Docs

#256 Added test cases for ListInvestigatorsCases and other commands
  src/main/java/seedu/investigapptor/logic/commands/ListInvestigatorCaseCommand.java
  src/test/java/seedu/investigapptor/logic/commands/CommandTestUtil.java
  src/test/java/seedu/investigapptor/logic/commands/ListInvestigatorCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/AddInvestigatorCommandParserTest.java
  src/test/java/seedu/investigapptor/model/person/RankTest.java
  src/test/java/seedu/investigapptor/storage/XmlAdaptedInvestigatorTest.java
  src/test/java/seedu/investigapptor/testutil/InvestigatorBuilder.java
  src/test/java/seedu/investigapptor/testutil/TypicalInvestigator.java
Labels: priority.medium, type.testing

#257 update userguide + ppp
  docs/UserGuide.adoc
  docs/team/pkaijun.adoc
Labels: type.Docs

#258 Update ppp
  docs/team/pkaijun.adoc
Labels: type.Docs

#259 Update ppp and redid collates
  collated/functional/quentinkhoo.md
  collated/unused/quentinkhoo.md
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  src/unused/ListCommand.java
  src/unused/ListCommandParser.java
  src/unused/RemovePasswordCommandParser.java
  src/unused/SetCommand.java
  src/unused/SetCommandParser.java
  src/unused/SetCommandParserTest.java
  src/unused/SetCommandTest.java
  src/unused/SetPasswordCommandParser.java
Labels: type.Docs

#260 Update tags and add screenshots for Editcase
  docs/UserGuide.adoc
  docs/diagrams/UG SS.pptx
  docs/images/userguide-images/ec-command1.png
  docs/images/userguide-images/ec-command2.png
Labels: priority.medium, type.Docs

#261 Update interface picture + slight minor fix in UG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/Interface.png
  docs/team/pkaijun.adoc
Labels: type.Docs

#263 update ug
  docs/UserGuide.adoc
  docs/team/pkaijun.adoc
Labels: type.Docs

#264 New default values for Investigapptor that include CrimeCases
  src/main/java/seedu/investigapptor/model/util/SampleDataUtil.java
Labels: priority.medium, type.enhancement, type.task

#265 Update DG (cases section) + Portfolio
  docs/DeveloperGuide.adoc
  docs/team/leowweiching.adoc
Labels: priority.high, type.Docs

#266 Update collate
  collated/functional/leowweiching-reused.md
  collated/test/Marcus-cxc.md
  collated/test/leowweiching-reused.md
  collated/test/leowweiching.md
  collated/test/pkaijun.md
  collated/test/quentinkhoo.md
  src/main/java/seedu/investigapptor/logic/commands/DeleteCaseCommand.java
  src/main/java/seedu/investigapptor/logic/commands/FindCaseCommand.java
  src/main/java/seedu/investigapptor/model/Investigapptor.java
  src/main/java/seedu/investigapptor/model/Model.java
  src/main/java/seedu/investigapptor/model/ModelManager.java
  src/main/java/seedu/investigapptor/model/crimecase/CaseName.java
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/Description.java
  src/main/java/seedu/investigapptor/model/crimecase/NameContainsKeywordsPredicate.java
  src/main/java/seedu/investigapptor/storage/XmlSerializableInvestigapptor.java
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandIntegrationTest.java
  src/test/java/seedu/investigapptor/logic/commands/AddCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/DeleteCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/EditCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/commands/FindCaseCommandTest.java
  src/test/java/seedu/investigapptor/logic/parser/DeleteCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/EditCaseCommandParserTest.java
  src/test/java/seedu/investigapptor/logic/parser/InvestigapptorParserTest.java
  src/test/java/seedu/investigapptor/storage/XmlSerializableInvestigapptorTest.java
Labels: type.Docs

#267 Clean up DG final moments.
  README.adoc
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
Labels: type.Docs

#273 Update User Guide
  docs/UserGuide.adoc
  docs/diagrams/UG SS.pptx
  docs/images/userguide-images/sc-command.png
Labels: type.Docs

#274 Update CrimeCase start date validation to accept today's date + Collate
  collated/test/Marcus-cxc.md
  collated/test/leowweiching.md
  collated/test/pkaijun.md
  collated/test/quentinkhoo.md
  src/main/java/seedu/investigapptor/model/crimecase/CrimeCase.java
  src/main/java/seedu/investigapptor/model/crimecase/StartDate.java
  src/test/java/seedu/investigapptor/storage/XmlSerializableInvestigapptorTest.java
Labels: type.Docs, type.logic, type.model

#276 Change .adoc name
  docs/team/Marcus-cxc.adoc
Labels: priority.high

#277 Update Project Portfolio
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/leowweiching.adoc
Labels: type.Docs

#278 Correct AboutUs reference to PPP
  docs/AboutUs.adoc
Labels: priority.high
